.button{
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
    margin:  0% 1%;
    cursor: pointer;
    color: white;
}

.add-button{
    background-color: rgb(154, 79, 194);
}

.edit-button {
    background-color: rgb(221, 217, 103);
    width: 25%;
}

.delete-button {
    background-color: rgb(238, 75, 75);
    width: 25%;
}

.stock-button {
    background-color: #007bff;
    width: 40%;
}

.filter-button {
    background-color: #007bff;
}
.filter-button:hover {
    background-color: #0056b3;
}